<html>

<head>
    <title>Test Telegram App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
<script src="js/telegramApi-full.js"></script>

<div id="content" ng-app="myApp">
    <div ng-controller="mainCtrl">
        <div class="ng-hide" ng-show="visible.auth">
            <input type="text" ng-model="auth.phone" placeholder="Phone">
            <input type="text" ng-model="auth.code" placeholder="Code">
            <button ng-click="auth.sendCode()">Send code</button>
            <button ng-click="auth.signIn()">Sign In</button>
        </div>
        <div class="ng-hide" ng-show="visible.info">
            <table>
                <tr><td>ID</td><td ng-bind="info.id"></td></tr>
                <tr><td>Photo</td><td><img ng-src="{{info.photoBase64}}" alt=""></td></tr>
                <tr><td>First Name</td><td ng-bind="info.first_name"></td></tr>
                <tr><td>Last Name</td><td ng-bind="info.last_name"></td></tr>
                <tr><td>Username</td><td ng-bind="info.username"></td></tr>
                <tr><td>Phone</td><td ng-bind="info.phone"></td></tr>
            </table>
            <button ng-click="info.logOut()">Log out</button>
        </div>
    </div>
</div>

<script src="script.js"></script>

</body>

</html>
